@model FoundLostIndexVm

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Lost" asp-action="Index">
        Lost Pets</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Found" asp-action="Index">
        Found Pets</a>
</li>
