
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 60%;
}

.brown-text {
    color: hsl(28, 54%, 44%);
    font-size: 50px;
}

.headerclass {
    background-size: 40%;
    background-image: url('/Images/PawHeader.png');
    text-align: center;
    

}

.dark-brown-text{
    color: hsl(28, 55%, 26%);
    font-weight: bold;
}

.button {
    border-radius: 30px;
    background-color: hsl(28, 54%, 44%);
    padding: 10px 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.09);
    color: white;
    border: none;

}
.button:hover{
    background-color:hsl(28, 54%, 35%);

}


.brown-text {
    color: hsl(28, 54%, 44%);
}






