<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}


<body>
    <header class="headerclass">
        <h1 class="brown-text"><strong>Help Find Lost Pets</strong></h1>
        <p class="dark-brown-text">Together we can reunite pets with their families. View the map or sign up to report a
            lost or found pet.
        </p>
        <button class="button ">♡ Help Reunite Pets</button>
        <button class="button ">⌕ Browse Reports</button>

    </header>


    <div class="map">
        <div class="card p-5">
            Map
        </div>
    </div>


    <div class="reportlist">
        <table class="table">
            <thead>
                <tr>
                    <th>Bild</th>
                    <th>Beskrivning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Bild1</th>
                    <td>Försvunnen hund</th>
                </tr>
                <tr>
                    <th>Bild2</th>
                    <td>Upphittad katt</th>
                </tr>
                <tr>
                    <th>Bild3</th>
                    <td>Borttappad häst!</th>
                </tr>
            </tbody>

        </table>

    </div>
</body>